*build*/
.vs/
x64/
Debug/
*.asset
bin/*.db
bin/.vs
bin/*.opendb
bin/project.sublime-workspace
data/log_*
log_*
imgui.ini
deps/win/assimp/assimp.lib
deps/win/assimp/assimp_d.lib
settings.json
.vscode/*.json
.sublime/
.DS_Store
media/test.*
media/env_maps/
media/test/
