/* ----------- */
/*  container  */
/* ----------- */
.twentytwenty-container {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 5px auto;
    border: 2px solid black;
    display:block;
    /*width: 50%;*/
}
.twentytwenty-container img {
    position: absolute;
    top: 0;
    display: block;
    max-width: 100%;
    height: auto;
}
.twentytwenty-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.twentytwenty-frame-1,
.twentytwenty-frame-2,
.twentytwenty-frame-3,
.twentytwenty-frame-4 {
    position: absolute;
    display: block;
    z-index: 30;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
.twentytwenty-compare-2 .twentytwenty-frame-1 {
    border-right: 1px solid white;
    top: 0;
    left: 0;
    cursor: col-resize;
}
.twentytwenty-compare-2 .twentytwenty-frame-2 {
    border-left: 1px solid white;
    top: 0;
    right: 0;
    cursor: col-resize;
}

.twentytwenty-compare-3 .twentytwenty-frame-1,
.twentytwenty-compare-4 .twentytwenty-frame-1 {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    top: 0;
    left: 0;
    cursor: move;
}
.twentytwenty-compare-3 .twentytwenty-frame-2,
.twentytwenty-compare-4 .twentytwenty-frame-2 {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    top: 0;
    right: 0;
    cursor: move;
}
.twentytwenty-compare-3 .twentytwenty-frame-3 {
    border-top: 1px solid white;
    bottom: 0;
    cursor: move;
}
.twentytwenty-compare-4 .twentytwenty-frame-3 {
    border-right: 1px solid white;
    border-top: 1px solid white;
    bottom: 0;
    left: 0;
    cursor: move;
}
.twentytwenty-compare-4 .twentytwenty-frame-4 {
    border-left: 1px solid white;
    border-top: 1px solid white;
    bottom: 0;
    right: 0;
    cursor: move;
}





/* -------------------- */
/*  overlay and images  */
/* -------------------- */
.twentytwenty-overlay {
    position:relative;
    z-index: 25;
    overflow: hidden;
}
.twentytwenty-1 {
    z-index: 20;
}
.twentytwenty-2 {
    z-index: 10;
}
.twentytwenty-3 {
    z-index: 9;
}
.twentytwenty-4 {
    z-index: 8;
}

/* -------- */
/*  handle  */
/* -------- */
.twentytwenty-handle {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border: 2px solid white;
    background:black;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    z-index: 40;
}
/*.twentytwenty-compare-2 .twentytwenty-handle:before,
.twentytwenty-compare-2 .twentytwenty-handle:after,
.twentytwenty-compare-4 .twentytwenty-handle:before,
.twentytwenty-compare-4 .twentytwenty-handle:after {
    content:" ";
    display: block;
    background: white;
    position: absolute;
    z-index: 30;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
.twentytwenty-compare-2 .twentytwenty-handle:before,
.twentytwenty-compare-2 .twentytwenty-handle:after {
    width: 2px;
    height: 9999px;
    left: 50%;
    margin-left: -1px;
}
.twentytwenty-compare-2 .twentytwenty-handle:before {
    bottom: 50%;
    margin-bottom: 22px;
}
.twentytwenty-compare-2 .twentytwenty-handle:after {
    top: 50%;
    margin-top: 22px;
}*/
.twentytwenty-compare-2 .twentytwenty-handle {
    cursor: col-resize;
}
.twentytwenty-compare-3 .twentytwenty-handle {
    cursor: move;
}
.twentytwenty-compare-4 .twentytwenty-handle {
    cursor: move;
}


/* -------- */
/*  labels  */
/* -------- */
.twentytwenty-label-1,
.twentytwenty-label-2,
.twentytwenty-label-3,
.twentytwenty-label-4 {
    position: absolute;
    /*text-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);*/
    text-shadow: 0 0 1ex black, 0 0 1ex black;
    color: white;
    /*font-size: 13px;*/
    /*letter-spacing: 0.1em;*/
    padding: 1ex;
    overflow: hidden;
    text-align: center;
}
.twentytwenty-compare-3 .twentytwenty-label-3 {
    width: 100%;
}

/* -------- */
/*  arrows  */
/* -------- */
.twentytwenty-left-arrow,
.twentytwenty-right-arrow,
.twentytwenty-up-arrow,
.twentytwenty-down-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
    top: 50%;
    margin-top: -6px;
}
.twentytwenty-up-arrow,
.twentytwenty-down-arrow {
    left: 50%;
    margin-left: -6px;
}
.twentytwenty-left-arrow {
    border-right: 6px solid white;
    left: 50%;
    margin-left: -20px;
}
.twentytwenty-right-arrow {
    border-left: 6px solid white;
    right: 50%;
    margin-right: -20px;
}
.twentytwenty-up-arrow {
    border-bottom: 6px solid white;
    top: 50%;
    margin-top: -20px;
}
.twentytwenty-down-arrow {
    border-top: 6px solid white;
    bottom: 50%;
    margin-bottom: -20px;
}
